/* css tyle */
html, body{
	background: #999999;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

h1{
	font-family: Verdana, Arial;
	font-size: 18px;
	color: #ff0000;
}

.button{
	display: inline-block;
	width: 25rem;
	height: 25rem;
	border: 1px solid #000000;
	background-color: #ff00ff;
}

#first, #second, #third{
margin-bottom: 10px;
}

article{
	width: 33%;
	display: inline-block;
	border-radius: 25px;
	background-color: #73AD21;
	vertical-align: top;	
}
